.App {
  text-align: center;
  width: 80%;
  margin: auto;
}
h1{
  font-size: 2vw;
}
p.info{
  font-size: 1.5vw;

}
.patternBox{
  width: fit-content;
  height: 20vh;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 2rem auto;
  color: #2d6a4f ;
  padding: 25px 100px ;
  
}

.patternBox>span{
  height: 100%;
  font-size: 8vw;
  font-weight: 500;
  display: grid; 
  place-items: center;
}